@import "~jquery-ui/themes/base/all.css";
@import "./parts/_homepage";
@import "./parts/_article";
@import "./parts/_navbar";
@import "./parts/_spinner";
@import "./parts/comments";
// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~lightbox2/dist/css/lightbox";

* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    color: #fff;
    background: #111827;
    font-size: 16px;
    max-width: 2000px;
    margin: auto;
}
main {
    min-height: 100vh;
    display: block;
    position: relative;
}
.page__footer {
    text-align: center;
    margin-top: 1rem;
    border-top: 1px dashed rgb(37, 36, 36);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
