.article {
    &__header {
        height: 14rem;
        overflow: hidden;
    }
    &__img {
        width: 100%;
    }
    &__text {
        margin-top: -4rem;
        max-width: 40rem;
        margin: auto;
        &-heading {
            background: rgba(0, 0, 0, 0.322);
            padding: 0.3rem;
            margin-top: -5rem;
            position: relative;
        }
    }
    &__gallery {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        &-item {
            height: 200px;
            opacity: 0.4;
            &:hover {
                opacity: 1;
            }
        }
    }
}
